{% extends "base_auth.html" %}
{% load i18n %}
{% block title %}{% trans "404" %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 text-center">
            <h1>{% trans 'Ууупс!'%}</h1>

            <p class="lead">{% trans "404 Не найдено" %}</p>

            <p>{% trans "Запрошенная страница не найдена на этом сервере." %}</p>
            <a class="btn btn-success" href="javascript:history.back()">&larr; {% trans 'Назад'%}</a>
        </div>
    </div>
{% endblock %}
