{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "500" %}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12 text-center">
            <h1>{% trans 'Ууупс!' %}</h1>

            <p class="lead">{% trans "500 Internal Server Error" %}</p>

            <p>{% trans "Сервер обнаружил внутреннюю ошибку или неправильную конфигурацию и не смог выполнить ваш запрос." %}</p>
            <a class="btn btn-success" href="javascript:history.back()">&larr; {% trans 'Назад'%}</a>
        </div>
    </div>
{% endblock %}
